{% extends "base.html" %}
{% block content %}
  <div class="about">

        <div class="jumbotron jumbotron-fluid">

              <p class="lead font-weight-normal">

                The present work was developed to facilitate the search for departments. 
                This is done through price indicators of the rental apartments, together with health, safety and human development index indicators as bases for the display of information in more detail. 
                The data shown was extracted from web pages such as Mercado Libre for the department price per square meter, 
                as well as from the INEGI Indicator Bank for geostatistical data necessary to develop the mapping along with the indicators described above by state and municipality.


              </p>



    </div>
  </div>
{% endblock %}