{% extends "base.html" %}
{% block content %}
  <div class="home">

  
  
  <div class="jumbotron jumbotron-fluid text-center" style="background-image: url(https://realestatemarket.com.mx/images/2020/06-Junio/0906/hasta_enero_del_2021_se_recuperararian_los_precios_de_rentas_en_el_pais_1.jpg); width: 1520px;">
      <h1 style="padding: 100px; color: black;"></h1>
  </div>




    <div class="jumbotron jumbotron-fluid">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Homepare</h1>
      </div>
        <p class="lead font-weight-normal">It`s an app thinked and designed, for those looking for the best price/value for their next home in a range of 1M to 2M MXN</p>
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="lead font-weight-normal"><b> How it works?.</b></p>
      </div>  
        <p class="lead font-weight-normal">The app scrapped the available houses available in the Megalopolis ( CDMX - EDOMEX - Tlaxcala - Puebla - Morelos - Hidalgo).</p>
        <p class="lead font-weight-normal">Crossreference the information with the economic data so you can have the options of reviewing and compare between regions with amazing and very interesting data or see a dinamic map.</p>
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="lead font-weight-normal"><b> Take a decision!!</b></p>
      </div> 
        <p class="lead font-weight-normal"> All this options will make <b>Homepare</b> the best adviser for the widest desition for your next home </p>
      </div>
    </div>


    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Compare</h2>
          <p class="lead">Chose between your two prefered regions and have the best Real State and economic data.</p>
          <p class="lead">Are you ready to start? Lets go...</p>
          <p><a class="btn btn-lg btn-primary" href="/graph" role="button">Take me there</a></p>
        </div>
      <div class="bg-light shadow-sm mx-auto" style=" width: 70%; height: 230px; border-radius: 21px 21px 0 0;">
        <img src="static/assets/img/GRAPH.png" alt="Plots" width="390px">
      </div>
      </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Map it!</h2>
        <p class="lead">Are you looking for a more visual way to compare, don`t think it longer lets go to see the data in a map.</p>
        <p class="lead">Lets see the magic...</p>
        <p><a class="btn btn-lg btn-primary" href="/map" role="button">Take me there</a></p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 70%; height: 230px; border-radius: 21px 21px 0 0;">
        <img src="static/assets/img/MAP.png" alt="Plots" width="390px">
      </div>
    </div>
    </div>
  </body>



  </div>
{% endblock %}